@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  max-width: 30em;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  background-image: url("images/silver-955496_1920.jpg");
  background-position: center;
}
.App > * {
  flex: 1 1 auto;
}

.App__welcome {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}